.box {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: yellow;
    color: balck;
    text-align: center;
    font-size: 1.5rem;
}

@media screen and (max-width: 1260px){
    .box {
        width: 80%;
        background-color: red;
    }
}

@media screen and (max-width: 768px) {
    .box{
        width: 90%;
        background-color: blue;
        color: white;
    }
}

@media screen and (max-width: 576px){
    .box{
        width: 100%;
        background-color: green;
    }
}