* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.profile-section {
    width: 35%;
    background-color: #ffcbe9;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgba(255,255,255,0.2);
    margin-bottom: 20px;
}

.profile-section h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.contact {
    margin-top: 30px;
    text-align: left;
    font-size: 0.9rem;
}

.contact a {
    color: rgb(240, 122, 195);
    text-decoration: none;
}

.content-section {
    width: 65%;
    padding: 40px;
}

.content-item {
    margin-bottom: 30px;
}

.content-item h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.content-item h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.content-item ul {
    list-style-position: inside;
    margin-left: 10px;
}